# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Variables de entorno
.env

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Migraciones compiladas
*.log

# Archivos temporales
*.tmp